html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

main {
  padding-top: 60px;
}

.hero-image {
  max-width: 100%;
}

.hero-info {
  max-width: 700px;
}

.hero-canvas > canvas:nth-of-type(2) {
  margin:auto !important;
  margin-top: -600px !important;
}

.nav {
  background: #2b2734;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.nav:before {
  content: '';
  background: #2b2734;
  width: 10000px;
  height: 60px;
  z-index: -1;
  position: absolute;
  left: -1000px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 17px;
}

.logo:hover {
  cursor: pointer;
  animation-name: spin;
  animation-duration: 1000ms;
  opacity: 0.8;
}

.logo:active {
  opacity: 0.5;
}

.logo > img {
  max-width: 27px;
  padding: 0;
}

.title {
  color: #fffc69;
}

.title-main {
  color: #fff;
  font-size: 24px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.title-sub {
  font-size: 12px;
  text-align: right;
}

.tile-img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #2b2734;
}

.footer {
  background: #2b2734;
  color: #fff;
  position: relative;
}

.footer:before {
  content: '';
  background: #2b2734;
  width: 10000px;
  min-height: 156px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: -1000px;
}

.footer-row {
  min-height: 156px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
