html 
    overflow hiden
    height 100%

body 
    height 100%
    overflow auto

main 
  padding-top 60px

::-webkit-scrollbar 
    display none

.hero-image 
  max-width 100%;

.hero-info 
  max-width 700px

.hero-canvas 
  overflow hidden

.hero-canvas > canvas:nth-of-type(2) 
  margin auto !important
  margin-top  -600px !important

.nav 
  background #2b2734
  height 60px
  position fixed
  z-index 10
  
  &__content 
    justify-content space-between
    display flex

  &__title 
    color #fffc69

  &__title-main 
    color #fff
    font-size 24px
    margin 5px 0 3px

  &__title-sub 
    font-size 12px
    text-align right

.logo 
  display flex
  align-items center
  padding 17px
  cursor pointer

.logo__image
  max-width 27px
  padding 0

.logo__image:hover 
  opacity 0.8
  animation-name spin
  animation-duration 1000ms

.logo__image:active 
  opacity 0.5

.tile-img 
  width 100%
  border-radius 3px
  border 1px solid #2b2734

.footer-background 
  background #2b2734
  color #fff
  position relative

.footer-row 
  min-height 156px

.footer-copyright 
  opacity 0.6
  font-size 14px

.icon-container 
  padding 16px
  padding-right 0
  color #fff

.icon-container:hover 
  color #fffc7d
  opacity 0.8

.icon-container:active 
  opacity 0.5

@keyframes spin 
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
